<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Banner</h1>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'landingpage' %}">Home</a></li>
                <li><a href="{% url 'auction' %}">Auction</a></li>
                <li><a href="{% url 'forsale' %}">For Sale</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
